@import url("https://fonts.googleapis.com/css2?family=Poppins");

:root {
  --primary-color: #3c318f;
  --secondary-color: #18c5ab;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  text-align: center;
  color: var(--primary-color);
}

a {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

main {
  width: 858px;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  font-size: 2em;
  font-weight: 700;
  margin: 20px 0;
  text-align: left;
  text-transform: capitalize;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.search-link,
.search-container {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0;
  margin: 0;
}

/* utility beginnings */

.pt-24 {
  padding-top: 6rem;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
