@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c318f;
  background-color: #fafafa;
  text-align: center;
}

.btn-container {
  padding-top: 120px;
}

.page-header {
  font-size: 3em;
  font-weight: 800;
  padding-top: 100px;
  margin: 0;
  text-align: left;
}
