@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c318f;
  background-color: #fafafa;
  text-align: center;
}

main {
  width: 858px;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  font-size: 3em;
  font-weight: 800;
  padding-top: 100px;
  margin: 0;
  text-align: left;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.search-link,
.search-container {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 0;
  margin: 0;
}
