.App-header {
  background-color: #3c318f;
  width: 100vw;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 700;
  position: fixed;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.nav-left {
  display: flex;
  position: absolute;
  top: 1;
  left: 0;
  margin-left: 50px;
}

.nav-middle {
  display: flex;
  width: 895px;
  align-items: center;
}

.nav-right {
  display: flex;
  position: absolute;
  top: 1;
  right: 0;
  width: auto;
  margin-right: 50px;
  justify-content: flex-end;
}

.nav-items-container {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 20px 30px 20px 0px;
}

.balance-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 858px;
  margin-left: 20px;
}

.amount {
  font-size: 1rem;
}

.description {
  font-size: 0.6rem;
}
